/****** Object:  Table [MiastaSlownik]    Script Date: 05.04.2023 21:19:53 ******/
DROP TABLE IF EXISTS [MiastaSlownik]
GO
/****** Object:  Table [MiastaSlownik]    Script Date: 05.04.2023 21:19:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MiastaSlownik](
	[Identyfikator_terytorialny] [float] NOT NULL,
	[Miasta] [nvarchar](50) NULL,
	[Powiaty_miasta_na_prawach_powiatu] [nvarchar](50) NULL,
	[Powierzchnia_w_ha] [int] NULL,
	[Powierzchnia_w_km] [int] NULL,
	[Ludnosc_ogolem] [int] NULL,
	[Ludność_na_1_km] [int] NULL,
	[Lokata_według_powierzchni_w_ha] [int] NULL,
	[Lokata_według_liczby_ludności] [int] NULL,
	[Województwo] [nvarchar](50) NULL,
 CONSTRAINT [PK_MiastaSlownik] PRIMARY KEY CLUSTERED 
(
	[Identyfikator_terytorialny] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [MiastaSlownik] ([Identyfikator_terytorialny], [Miasta], [Powiaty_miasta_na_prawach_powiatu], [Powierzchnia_w_ha], [Powierzchnia_w_km], [Ludnosc_ogolem], [Ludność_na_1_km], [Lokata_według_powierzchni_w_ha], [Lokata_według_liczby_ludności], [Województwo]) VALUES (201011, N'Bolesławiec', N'Bolesławiecki', 2357, 24, 38872, 1649, 232, 113, N'DOLNOŚLĄSKIE')
INSERT [MiastaSlownik] ([Identyfikator_terytorialny], [Miasta], [Powiaty_miasta_na_prawach_powiatu], [Powierzchnia_w_ha], [Powierzchnia_w_km], [Ludnosc_ogolem], [Ludność_na_1_km], [Lokata_według_powierzchni_w_ha], [Lokata_według_liczby_ludności], [Województwo]) VALUES (201044, N'Nowogrodziec', N'Bolesławiecki', 1610, 16, 4207, 261, 367, 628, N'DOLNOŚLĄSKIE')
INSERT [MiastaSlownik] ([Identyfikator_terytorialny], [Miasta], [Powiaty_miasta_na_prawach_powiatu], [Powierzchnia_w_ha], [Powierzchnia_w_km], [Ludnosc_ogolem], [Ludność_na_1_km], [Lokata_według_powierzchni_w_ha], [Lokata_według_liczby_ludności], [Województwo]) VALUES (202011, N'Bielawa', N'Dzierżoniowski', 3621, 36, 29872, 825, 133, 153, N'DOLNOŚLĄSKIE')
GO
